h1 {
    
}
#cover-text {
    font-family: 'Manrope', sans-serif;
    font-size: 200px;
    text-align: center;
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    top: 400px;
   
    
    color: rgb(231, 241, 231);
    background-color: rgba(116, 157, 180, 0.7);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
}

.top-text h3 {
    padding: 20px 10px;
}

.top-text p {
    padding: 20px 20px;
}

.card-group {
    margin-bottom: 50px;
}

.card-deck {
    margin-bottom: 50px;
}

.social-links li a i {
    padding: 40px 20px;
    font-size: 30px;
}