
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(69, 71, 69);
    padding: 0;
    margin: 0;
}

/*--------------------INDEX.html--------------------*/

.display-4.home-title {
    font-size: 100px;
    color: rgb(69, 71, 69);
    text-align: center;
    margin-top: 10px;
}

.col-md-12.home-image { 
    background-image: url('../images/home-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 40px;
}

.home-container p {
    padding: 20px;
}

.ecohome-container {
    margin-bottom: 50px;
}

.related-container {
    margin-bottom: 50px;
}

.container.signup-container {
    width: 100%;
}

/*------------------RESOURCES.html-----------------------*/

.col-md-12.resource-heroimage {
    background-image: url('../images/resource-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.display-4.resource-title  {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}
    
.resource-title-container h2 {
    padding: 10px;
}

/*-----------------WEBSITE LINKS---------------*/

.container.website-title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.container.website-links-container {
    padding: 20px;
    margin-bottom: 30px;
}

.website-links-list {
    padding: 10px;
}

/*------------------VIDEO LINKS-----------------*/

.container.video-title {
    margin-bottom: 50px;
}

.container.video-container {
    padding: 20px;
    margin-bottom: 30px;
}

.video-link {
    padding: 10px;
}

/*-------------------BOOK LINKS-------------------*/

.container.book-title {
    margin-bottom: 50px;
}

.container.book-card-container {
    padding: 20px;
    margin-bottom: 30px;
}

/*--------------------CONTACT.html---------------------*/

.col-md-12.contact-image {
    background-image: url('../images/aboutus-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.display-4.contact-title  {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}

.contact-info p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form-bg {
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}

/*------------------SOCIAL LINKS------------------*/

.social-links-grp {
    text-align: center;
}

.social-links li a i {
    padding: 20px 20px;
    font-size: 30px;
    color: rgb(31, 160, 31);
}

/*-----------------------FOOTER-----------------------*/

footer {
    padding: 10px 10px;
    text-align: center;
    color: rgb(69, 71, 69);
}

/*-------------------MEDIA QUERIES--------------------*/

@media (max-width: 562px) {
    .display-4.home-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.about-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.resource-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.contact-title {
    font-size: 70px;
}
}

@media (min-width: 992px) {
    .book-resource {
    height: 250px;
}
}

@media (min-width: 768px) {
    .book-resource {
    height: 260px;
}
}

@media (max-width: 562px) {
    .social-links li a i {
    padding: 10px 10px;
}
}