body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(69, 71, 69);
}

.display-4.home-title {
    font-size: 100px;
    color: rgb(69, 71, 69);
    text-align: center;
    margin-top: 10px;
}

.col-md-12.home-image { 
    background-image: url('../images/home-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 40px;
}

.home-container p {
    padding: 20px;
}


.card-img-overlay {
    padding: 0;
}

.rel-info-bg {
    padding: 20px 20px;
}

.rel-info-bg h2 {
    padding: 20px;
}

.card-group {
    margin-bottom: 50px;
}

.ecohome-container {
    margin-left: 10px;
    margin-right: 10px;
}

.related-container {
    margin-left: 10px;
    margin-right: 10px;
}

.card-deck {
    margin-bottom: 50px;
}


.container.signup-container {
    height: 350px;
    width: 100%;
    padding: 20px;
}

.social-links-grp {
    text-align: center;
}

.social-links li a i {
    padding: 40px 10px;
    font-size: 30px;
}

footer {
    padding: 10px 10px;
    text-align: center;
    color: rgb(69, 71, 69);;
}
/*---------------------------about us*/

.display-4.about-title  {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    
}

.col-md-12.about-image {
    background-image: url('../images/aboutus-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.about-container p {
    padding: 0px;
}


/*---------------------------resources*/

.col-md-12.resource-heroimage {
    background-image: url('../images/resource-bkgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.display-4.resource-title  {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}
    
.container.website-title {
    margin-top: 20px;
    margin-bottom: 50px;
}
.container.website-links-container {
    padding: 20px;
    margin-bottom: 30px;
}

.container.video-title {
    margin-bottom: 50px;
}

.container.video-container {
    padding: 20px;
    margin-bottom: 30px;
}

.container.book-title {
    margin-bottom: 50px;
}

.container.book-card-container {
    padding: 20px;
    margin-bottom: 30px;
}

/*---------------------------contact*/

.col-md-12.contact-image {
    background-image: url('../images/contact-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 30px;
    width: 100%;
}

.display-4.contact-title  {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}

.contact-info p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form-bg {
    background-color: rgb(69, 71, 69);
    padding: 50px;
    margin-bottom: 30px;
    color: white;
}


.social-links li a i {
    color: rgb(31, 160, 31);
    padding: 20px;
}

/*---------------------------media queries*/

@media (max-width: 562px) {
    .display-4.home-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.about-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.resource-title {
    font-size: 70px;
}
}

@media (max-width: 562px) {
    .display-4.contact-title {
    font-size: 70px;
}
}